<div class="one-contry">
    {{#each this}}

    <h3 class="title">{{name}}</h3>
    <div class="main-info">
        <div>
            <p><span class="title-info">Capital: </span>{{capital}}</p>
            <p><span class="title-info">Population: </span>{{population}}</p>
            <p><span class="title-info">Area: </span>{{area}}</p>
            <p><span class="title-info">Languages: </span>
                {{#each languages}}
                <li class="title-list">{{name}}</li>{{/each}}
            </p>
        </div>

        <div><img src="{{flag}}" alt="flag" width="320" /></div>
    </div>

    {{/each}}

</div>