{{#each this}}

<div>
    <p>{{name}} ({{region}})</p>
    <p>capital: {{capital}}</p>
    <p>population: {{population}}</p>
    <p>area: {{area}}</p>
    <img src="{{flag}}" alt="flag" width="160" />
</div>

{{/each}}